.container{
    text-align:center;
}
body{
    background:#1dfd7c;
}
h1{
    color: rgb(7, 62, 133);
    font-family: 'Turret Road', cursive;
}
#button{
width: 20%;
}
input{
    width: 40%;
}
